* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
padding: 10px 40px;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}

.btn{
    height: 35px;
    width: 150px;
    background-color: #3FA2F6;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.inputDiv{
    height: 30px;
    width: 200px;
    margin: 10px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding-bottom: 10px;
}
#inputFile{
  margin-bottom: 10px;
}
.post_container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
  height: 300px;
  width: 250px;
  margin-top: 50px;
  border-radius: 15px;
}

#imageinnerdiv{
  height: 300px;
  width: 250px;
}

.imageDiv{
  padding-left: 30px;
  height: 200px;
  width: 250px;

}


/* HTML: <div class="loader"></div> */
.loader {
  margin-left: 30px;
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #3fa2f6;
  border: 2px solid;
  position: relative;
  margin-bottom: 30px;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}